<div class="input">
  <label class="input__label" [attr.for]="id()">{{ label() }}</label>
  @if (type() === 'textarea') {
    <textarea
      class="input__control input__control--textarea"
      [class.input__control--error]="!!error()"
      [id]="id()"
      [rows]="rows()"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($event)"
    ></textarea>
  } @else {
    <input
      class="input__control"
      [class.input__control--error]="!!error()"
      [id]="id()"
      [type]="type()"
      [placeholder]="placeholder()"
      [attr.autocomplete]="autocomplete()"
      [value]="value()"
      (input)="onInput($event)"
    />
  }
  @if (error()) {
    <span class="input__error">{{ error() }}</span>
  }
</div>
